<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./final_signup_files/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
        <link href="./final_signup_files/css2" rel="stylesheet">
        <title>FINAL: SIGN UP</title>
    </head>
    <body><div>
        <center>
            <h1>FINAL</h1>
            <br>
            <div>
                <input placeholder="Username" id="signupUsername" class="signup_container">
            </div>
            <div>
                <input placeholder="Password" id="signupPassword" class="signup_container" type="password">
            </div>

            <h3>Already have an account? Log in <a href="" style="color: #c7c7c7">here.</a></h3>

            <button class="signup_button" onclick="signUp();">Sign up</button>

            <script src="./final_signup_files/script.js.download"></script>
        </center>
    </div>
</body></html>