<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./final_home_files/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
        <link rel="stylesheet" href="/static/styles.css">
        <title>FINAL: HOME</title>
    </head>
    <body>
        <div>
            <center>
                <div class="site_banner">
                    <div class="banner" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Vincent_van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1200px-Vincent_van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg');"></div>
                </div>
                <h1>TIMELINE</h1>
                <br>
            </center>

            <div class="sidebar" id="sidebar">
            </div>

            <div class="miscellaneous" id="miscellaneous">
            </div>

            <div class="home_tweet" id="home_tweet">
            </div>

            <div class="timeline" id="timeline">

            </div>
        </div>
    </body>

    <script src="/static/script.js"></script>
    <script>
        doRenderSidebar();
        timeline();
        doGetSuperPopMembers();
    </script>
</html>