<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./final_home_files/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
        <link rel="stylesheet" href="/static/styles.css">
        <title>FINAL: PROFILE SETTINGS</title>
    </head>
    <body>
        <div>
            <center>
                <div class="profile_banner" id="profile_banner" style="position: absolute;">
                </div>
                <br>
            </center>

            <div class="profile_details" id="profile_details">
            </div>

            <div class="sidebar" id="sidebar" style="margin-top: 650px;">
            </div>

            <div class="profile_information" id="profile_information">
            </div>

            <div class="timeline" id="profile_posts" style="margin-top:50px; margin-left: 100px;">

            </div>
        </div>
    </body>

    <script src="/static/script.js"></script>
    <script>
        doRenderSidebar();
        doRenderProfile();
        doRenderThreads();
    </script>
</html>