<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./final_home_files/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
        <link rel="stylesheet" href="/static/styles.css">
        <title>FINAL: PROFILE</title>
    </head>
    <body>
        <div>
            <center>
                <div id="reply_section">

                </div>

                <div class="tweet" style="background-color: #404040;">
                    <div id="delete_button">
                    </div>
                    
                    <div class="tweet_content" id="main_tweet">
                    </div>
                </div>

                <ol id="replies">
                </ol>
            </center>
        </div>
    </body>

    <script src="/static/script.js"></script>
    <script>
        doRenderReplies();
    </script>
</html>